/* This .css file serves as a template for your company's eFrequency MemberLink Login and Profile/Bonus 
 * Plan Balance web pages. After you have defined the property values for the available selectors, 
 * please enter the URL where this .css file is stored in the eFrequency MemberLink Configuration Wizard.
 *
 * The .page selector defines the background for both the eFrequency Login and Profile/Bonus Plan Balance
 * web pages.
 *
 * The .title selector defines the properties for the title text entered on the eFrequency MemberLink 
 * Configuration Wizard. This label is displayed on the top of both the eFrequency Login and 
 * Profile/Bonus Plan Balance web pages.
 *
 * The .instructions selector defines the properties for the instructional text 
 * entered on the MemberLink Configuration Wizard.
 *
 * The .fldLabel selector defines the properties for the profile field labels on the Profile/Bonus Plan 
 * Balance web page. 
 *
 * The .fldData selector defines the properties for the profile field values and text boxes on the 
 * Profile/Bonus Plan Balance web page.
 *
 * The .BPName selector defines the properties for the Bonus Plan name labels on the Profile/Bonus Plan 
 * Balance web page.
 *
 * The .BPBalance selector defines the properties for the Bonus Plan balance labels on the Profile/Bonus 
 * Plan Balance web page. 
 *
 * The .homelink selector defines the properties for the home link text entered in the eFrequency 
 * MemberLink Configuration Wizard. This link is available on both the Login and Profile/Bonus Plan 
 * Balance web pages. 
 *
 * The .grpbox selector defines the properties for the group box text available on the Profile/Bonus Plan
 * Balance web page. 
 *
 * The .asterisk selector defines the properties for the asterisk that denotes required profile fields 
 * available on the Profile/Bonus Plan Balance web page. 
 *
 * The .login selector defines the Submit and Login properties on the eFrequency MemberLink Login web page.
 *
 * The .eCardBalance_one selector defines the string that displays the current eCard balance for the card 
 * (above the transaction list)âif the card has eCard functionality only.
 * 
 * The .eCardBalance_both selector defines the string that displays the current eCard balance for the card 
 * (above the transaction list)âif the card has eCard and eFrequency functionality.
 * 
 * The .TxnColumns_one selector defines the transaction listâs column headersâif the card has either eCard 
 * or eFrequency functionality only.
 * 
 * The .TxnColumns_both selector defines the transaction listsâ column headersâif the card has eCard functionality only.
 * 
 * The TxnValues_one selector defines the eCard transaction listâs detail fieldsâif the card has eCard functionality only.
 */

html {background-color: #404040 !important;}

body.page { 
	background: url('http://sagerestaurantgroup.com/alp/bg_pattern_pinstripe.jpg');
	background-color: #404040;

}

.title {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:24pt;
	font-weight:normal;
	font-style:normal;
	color:white;
	text-align:center;
}

.instructions {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:11pt;
	font-weight:normal;
	font-style:normal;
	color:#ffd600;
	text-align:left;
}

.fldLabel {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:11pt;
	font-weight:normal;
	font-style:normal;
	color:white;
	text-align:right;
    width:50%;
}

.fldData {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:11pt;
	font-weight:normal;
	font-style:normal;
	color:rgb(0, 0, 0);
	text-align:left;
	background-color:rgb(255, 255, 255);
    width:230px;
}

.BPName { 
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:11pt;
	font-weight:bold;
	font-style:normal;
	color:rgb(0, 0, 0);
	text-align:right;
}

.BPBalance {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:11pt;
	font-weight:normal;
	font-style:normal;
	color:rgb(0, 0, 0);
	text-align:left;
}

.homelink {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:9pt;
	font-weight:bold;
	font-style:normal;
	color:#ffd600;
	text-align:center;
	text-decoration:underline;
}

.grpbox {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:11pt;
	font-weight:bold;
	font-style:normal;
	color:rgb(0, 0, 0);
	text-align:left;
}

.asterisk {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:11pt;
	font-weight:normal;
	font-style:normal;
	color:#ffd600;
	text-align:left;
}

.login {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:11pt;
	font-weight:bold;
	font-style:normal;
	color:rgb(49, 106, 197);
	text-align:center;
}

.Txn_both {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:  10pt;
	font-weight: bold;
	font-style: normal;
	color: rgb(255, 255, 255);
	text-align: left;
}

.Txn_one {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:  18pt;
	font-weight: bold;
	font-style: normal;
	color: rgb(255, 255, 255);
	text-align: left;
}

.eCardBalance_both {
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold; 
	font-style: normal; 
	color: rgb(0, 0, 0); 
	text-align: center;
}

.eCardBalance_one {
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 12pt; 
	font-weight: bold; 
	font-style: normal; 
	color: white;
	text-align: center;
}

.TxnValues_both {
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold; 
	font-style: normal; 
	color: rgb(0, 0, 0); 
	text-align: left; 
}

.TxnValues_one {
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	font-size: 14pt; 
	font-weight: bold; 
	font-style: normal; 
	color: rgb(0, 0, 0); 
	text-align: left;
}

.EditProfile { 
        font-family: Tahoma,Arial,Helvetica,sans-serif; 
        font-size:10pt; 
        font-weight:normal; 
        font-style:normal; 
        color:rgb(0, 0, 0); 
        text-align:center 
}

/* OVERRIDES */
iframe#giftCardBalanceFrame {height:300px!important;}

span#editProfileLink {position:fixed!important;
	top:30px!important;right:30px!important;}